@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-pink: #ec4899;
  --primary-pink-light: #fce7f3;
  --primary-pink-dark: #be185d;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary-pink);
  --color-primary-light: var(--primary-pink-light);
  --color-primary-dark: var(--primary-pink-dark);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
